<% full_name = @employee.first_name + " " + @employee.last_name %>
  <h1><%= full_name %></h1>

<h3><%= link_to 'Edit employee', edit_employee_path(@employee) %></h3>

<h4>Alias:</h4>
<%= @employee.alias %>
<h4>Title:</h4>
<%= @employee.title %>
<h4>Office:</h4>
<%= @employee.office %>
<h4>Image:</h4>
<img src= <%= @employee.img_url %> alt="employee image" >

<h3><%= link_to 'Go back to all employees', employees_path %></h3> 
